@{
    ViewBag.Title = "대문";
}

<h1>SAMPLE BACKEND PAGE (ASP.NET Core)</h1>
<p>Backend 방식의 유량제어가 적용된 대문(업무) 페이지입니다.</p>
<p>이 페이지는 <code>[WebGateFilter]</code> 액션 필터(OnActionExecuting)를 통해 유량제어가 적용됩니다.</p>
